<configuration>

  <jmxConfigurator />

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <appender name="CYCLIC" class="ch.qos.logback.core.read.CyclicBufferAppender">
  </appender>

  <logger name="controllers" level="DEBUG"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="CYCLIC" />
  </root>

  <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

</configuration>