@(rows: Seq[LoggingRow])

@main("Cyclic Buffer Events") {
<section id="content">
  <div class="wrapper doc">
    <article>
      <table style="width: 100%;">
        <thead>
        <tr>
          <th style="width: 100px">Timestamp</th>
          <th style="width: 50px">Level</th>
          <th style="width: 100px">Name</th>
          <th style="width: 500px">Message</th>
        </tr>
        </thead>

        @for(row <- rows){
        <tbody>
        <tr>
          <td style="width: 100px">@row.timestamp</td>
          <td style="width: 50px">@row.level</td>
          <td style="width: 100px">@row.name</td>
          <td style="width: 500px; white-space:nowrap;">@row.message</td>
        </tr>
        </tbody>
        }
      </table>
    </article>
  </div>
</section>

}